extends nav-bar
block content
  script(src="/javascripts/index.js" type="module" defer)
  link(rel="stylesheet", href="/stylesheets/home-page.css")
  script(src='/javascripts/ask.js' type='module' defer)
  div.modalContent
    h2#question-form-h2 About
    div.modalForm
        div
        p This website is about asking pet related questions. For all your pet related needs.
        p Our Team 
        a(href="https://github.com/spacegray" class="linkNames") Ayla Basha
        div
        a(href="https://github.com/Alsm867" class="linkNames") Sam Ortega
        div
        a(href="https://github.com/valeriareynososf" class="linkNames") Valeria Reynoso
        div
        a(href="https://github.com/9ziggy9" class="linkNames") David Rogers
        div
        br
        form(action=`/` method="get")
            input(type="submit" value="Back Home" class='button')
  body