extends nav-bar
include utils.pug

block content
    h2 edit your question
    +validationErrorSummary(errors)
    form(id="edit-form" method="post" action=`/questions/${question.id}/edit`)
        input(type='hidden' name='_csrf' value=csrfToken)
        div
          label(for="title") Title
        div
          input(type="text" id="edit-title" name="title" value=question.title)
        div
          label(for="content") Body
        div
          textarea(id="edit-content" name="content" rows="8")= question.content
        div
          button(type='submit') Submit
          form(action=`/questions` method="get")
            input(type="submit" value="Back To Questions")
