extends nav-bar

block content
  //- add page specific styles by appending to the head
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

    h1= title
    if user
      p(class="home_stuff") Welcome #{user.userName}!
    else
      p(class="home_stuff") Welcome To Pet Overflow!
