doctype html
html
  head
      block head
        title="Pet Overflow"
        link(rel='stylesheet' href='./public/stylesheets/reset.css')

        span(class='nav-bar-text') Welcome to PetOverflow!
        form(class='form-inline' action='/users/logout' method='post')
          a(class='logout-button' href='/users/login') Logout

        span(class='navbar-text buttons')
          a(class='btn-login' href='/users/login') Login
          a(class='btn-register' href='/users/register') Register
          a(class='btn-demo' href='/questions') Demo Login

  body
    block content
