doctype html
html
  head
      block head
        title="Pet Overflow"
        link(rel='stylesheet' href='/stylesheets/reset.css')
      if user.authenticated 
        span(class='nav-bar-text px-4') Welcome to PetOverflow #{user.userName}!
        form(class='form-inline pr-4' action='/user/logout' method='post')
          button(class='btn btn-sm btn-warning' type='submit') Logout 
      else 
        span(class='navbar-text px-4')
          a(class='btn btn-sm btn-dar mr-2' href='/user/login') Login 
          a(class='btn btn-sm btn-dark' href='/user/register') Register 
          a(class='btn btn-sm demo' href='/user/0') Demo Login

  body
    block content
