doctype html
html
  head
      block head
        title="Pet Overflow"
        link(rel='stylesheet' href='./public/stylesheets/reset.css')

        span(class='nav-bar-text') Welcome to PetOverflow!
        form(class='form-inline' action='/users/logout' method='post')
          a(class='logout-button' href='/users/login') Logout

        span(class='navbar-text px-4')
          a(class='btn btn-sm btn-dark mr-2' href='/users/login') Login
          a(class='btn btn-sm btn-dark' href='/users/register') Register
          a(class='btn btn-sm demo' href='/users/demo') Demo Login

  body
    block content
