extends nav-bar
block content
  link(rel="stylesheet", href="/stylesheets/home-page.css")
  script(src='/javascripts/ask.js' type='module' defer)
  div(class='main_page')
    img(class='dogs' src='/images/dogs-playing.png' alt='dogs-playing')
    img(class='paw' src='/images/paw.png' alt='paw' style='')
    p(class='want') Want to find the answers to your pet questions and connect with others in the community?
    img(class='pop_up' src='/images/Vector.png' alt='pop-up')
    a(class='q_button' id='questions' href='/questions') Questions
    button(class="vals_ask" id="question") Ask A Question
    p(class='main_text') The community <span class='short'>to ask</span> all of your pet related questions, Pet Overflow
  div(class='circle')
  div(class='box1')
  div(class='box2')
  div(class='box3')
  div(class='box4')
  body
      div.modal
        div.modalContent
            h2#question-form-h2 Ask A Public Question
            div.modalForm
                div
                    form(method="post" action="/questions/ask")
                        input(type='hidden' name='_csrf' value=csrfToken)
                        div
                        label(for="title" class="formTitle") Title
                        div
                        span.formInfo Be specific and imagine you’re asking a question to another person
                        div
                        input(type="text" id="title-text" name="title" placeholder="e.g. Is it possible to adopt all the dogs at the shelter?")
                        div
                        label(for="content" class="formTitle") Body
                        div
                        span.formInfo  Include all the information someone would need to answer your question
                        div
                        textarea(id="content" name="content" class="contentText")
                        div
                        label(for="tags" class="formTitle") Tags
                        div
                        input(type="text" id="tags" name="tags")
                        div
                        br
                        button(type='submit' id="question" class="button") Ask Question
                        div
                        br
                    div.formBtns
                        form(action=`/questions` method="get")
                            input(type="submit" id="backBtn" value="Go To Questions")
                        form(action=`/` method="get")
                            input(type="submit" id="homeBtn" value="Go Back Home")
