include utils.pug
doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link( rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@600&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="/stylesheets/home-page.css")
        link(rel="stylesheet" href="/stylesheets/index.css")
        link(rel="stylesheet" href="/stylesheets/questions-page.css")
        link(rel="stylesheet" href="/stylesheets/welcome.css")
        link(rel="stylesheet" href="/stylesheets/login-register.css")
        script(src="/javascripts/index.js" type="module" defer)
        script(src="/javascripts/ask.js" type="module" defer)
        script(src="/javascripts/about.js" type="module" defer)
        <meta name="description" content="PetOverflow is a clone of StackOverflow with a pet theme." />
    <meta name="title" property="og:title" content="PetOverflow" />
    <meta property="og:type" content="Website" />
    <meta name="og:image" property="og:image" content="https://capstone-profile.s3.us-west-1.amazonaws.com/PetOverflow+logo+group+(1).png" />
    <meta name="description" property="og:description" content="PetOverflow is a clone of StackOverflow with a pet theme." />
    <meta name="author" content="Ayla Basha, David Rogers, Samuel Ortega, Valeria Reynoso" />
        block head
    body
        div(class='try_out')
            title="Pet Overflow"
            div(class='icons')
                div(class='hamburger')
                    button(class='hamburger_button')
                        div(class='hamburger_list')
                            a(href='/') HOME
                            a(href='/questions') QUESTIONS
                            a(href= "/" id="aboutUs") ABOUT
                a(href='/')
                    img(id='logo' src="/images/over.png" alt="Pet Overflow" style='width50px; height:50px;')
            div(class='navbar_text_buttons')
              div(id='search-container')
                form(id='search-global')
                  input(id='search-term' autocomplete="off" type='text' placeholder='Search petOverflow ...')
              if user
                  a(class='button' id='log-out' href='/users/logout') Logout
              else
                button(class='button' id='login') Login
                button(class='button' id='sign-up') Register
                a(class='button' id='demo' href='/users/demo') Demo Login
        block content
        div.modalLoginMain
            div.modalContent
                h2#login-form-h2 Welcome to Pet Overflow
                div.modalLogin
                    +validationErrorSummary(errors)
                    form(action='/users/login' method='post')
                        input(type='hidden' name='_csrf' value=csrfToken)
                        div
                            label(for = "email" class='email') Email
                        div
                            input(type = "text", name = "email")
                        br
                        div
                            label(for = "password" class='password') Password
                        div
                            input(type = "password", name = "password")
                        br
                        div()
                            button(type='submit' class='login_button') Login
                        br
                    form(action=`/` method="get")
                        input(type="submit" value="Cancel" class='cancel-button')

                    div
                        p Don't have an account? <a href='/users/register' class='what'>Sign Up</a>!
        div.modalregistermain
            div.modalContent
                h2#login-form-h2 Welcome to Pet Overflow
                div.modalregister
                    +validationErrorSummary(errors)
                    form(action='/users/register' method='post')
                        input(type='hidden' name='_csrf' value=csrfToken)
                        div
                            label(for="userName") Username
                        div
                            input(type="text", name="userName")
                        br
                        div
                            label(for="email") Email
                        div
                            input(type="text", name="email")
                        br
                        div
                            label(for="password") Password
                        div
                            input(type="password", name="password")
                        br
                        div
                            label(for="confirmPassword") Confirm Password
                        div
                            input(type="password", name="confirmPassword")
                        br
                        div
                            button(type='submit' class='button' id='sign-up') Register
                        br
                    div.register_buttons
                        form(action=`/` method="get")
                            input(type="submit" value="Cancel" class='cancel-button')
                        form(action='/users/demo' method="get")
                            input(type="submit" value="Demo Login" id='demo' class='new_demo')
                    p.link Already have an account? <a href='/users/login' class='what'>Sign in</a>!
        div.modalAbout
            div.modalContent
                h2#question-form-h2 About
                div.modalForm
                    div
                    p This website is about asking pet related questions. For all your pet related needs.
                    p Our Team 🐾
                    a(href="https://github.com/spacegray" class="linkNames") Ayla Basha
                    div
                    a(href="https://github.com/Alsm867" class="linkNames") Sam Ortega
                    div
                    a(href="https://github.com/valeriareynososf" class="linkNames") Valeria Reynoso
                    div
                    a(href="https://github.com/9ziggy9" class="linkNames") David Rogers
                    div
                    br
                    form(action=`/` method="get")
                        input(type="submit" value="Back Home" class='button')
