h2 All Questions
form(action=`/` method="get")
    input(type="submit" value="Go Home")
form(action="/questions/ask" method="get")
    input(type="submit" value="Ask Question")
each question in questions
    ul
        li
            a(href=`/questions/${question.id}`) #{question.title}
