h2 Questions
form(action="/questions/newQuestion" method="get")
    input(type="submit" value="Ask Question")
h1 test success!
each question in questions
    ul
        li
            a(href=`/questions/${question.id}`) #{question.title}
