html
    head
        link(rel="stylesheet" href="/stylesheets/questions-page.css")
    body
        nav(id="temp-nav") 
        div(id="content-container")
            div(id="left-panel")
            div(id="mid-panel")
                div(id="mid-panel-top")
                    h2 Top Questions
                div(id="mid-panel-main")
                    each question in questions
                        div(class='question-box')  
                            div(class="stats-panel") 
                            div(class="question-preview-panel")       
            div(id="right-panel")






//-  a(href=`/questions/${question.id}`) #{question.title}


//- extends nav-bar
//- block content
//-     link(rel="stylesheet" href="/stylesheets/questions-page.css")
//-     head
//-         body
//-             h2 All Questions
//-             form(action="/questions/newQuestion" method="get")
//-                 input(type="submit" value="Ask Question")
//-         div(class='page-container')
//-             div(class='mid-panel')
//-             <div>
//-                     div(class='question-table')
//-                         each question in questions
//-                             div(class='question-preview-box')
//-                                 a(href=`/questions/${question.id}`) #{question.title}
//-                                     div(class='stats-box')
//-         div(class='left-panel')
//-         div(class='right-panel')
