extends layout
block content
    html 
        body
        head 
            h2 All Questions
            form(action="/questions/newQuestion" method="get")
                input(type="submit" value="Ask Question")
            div(class='page-container')
                div(class='mid-panel')
                        <div>
                div(class='left-panel')
                div(class='right-panel')
                div(class='question-table')
                        each question in questions
                            div(class='question-preview-box')
                                    a(href=`/questions/${question.id}`) #{question.title}
