link(rel="stylesheet" href="/stylesheets/index.css")

include utils.pug

html
    head
    body
        div.modalContent
          h2#question-form-h2 Ask A Public Question
          +validationErrorSummary(errors)
          div.modalForm
            form(method="post" action="/questions/ask")
                input(type='hidden' name='_csrf' value=csrfToken)
                div
                  label(for="title" class="formTitle") Title
                span.formInfo Be specific and imagine you’re asking a question to another person
                div
                  input(type="text" id="title-text" name="title" placeholder="e.g. Is it possible to adopt all the dogs at the shelter?")
                div
                  br
                  label(for="content" class="formTitle") Body
                span.formInfo  Include all the information someone would need to answer your question
                div
                  textarea(id="content" name="content" class="contentText")
                div
                br
                button(type='submit' id="question" class="button") Ask Question
                div
                br
            div.formBtns
                form(action=`/questions` method="get")
                    input(type="submit" id="backBtn" value="Go To Questions")
                form(action=`/` method="get")
                    input(type="submit" id="homeBtn" value="Go Back Home")
