h2 Questions
button(type="submit" class="newQuestionBtn") Ask Question
each question in questions
    ul
        li
            a(href=`/questions/${question.id}`) #{question.content}
script(src="/javascripts/askquestion.js" type="module" defer)