script(src='/javascripts/ask.js' type='module' defer)
link(rel="stylesheet" href="/stylesheets/index.css")
block content
    html 
        body
        head 
            h2 All Questions
            //- form(action="/questions/ask" method="get")
            //-     input(type="submit" value="Ask Question" name="ask" class="askForm")
            button(class="button" id="question") Ask A Question
            div(class='page-container')
                div(class='mid-panel')
                        <div>
                div(class='left-panel')
                div(class='right-panel')
                div(class='question-table')
                        each question in questions
                            div(class='question-preview-box')
                                    a(href=`/questions/${question.id}`) #{question.title}
div.modal
    div.modalContent
        h2#question-form-h2 Ask A Public Question
        div.modalForm
            div
                form(method="post" action="/questions/ask")
                    input(type='hidden' name='_csrf' value=csrfToken)
                    div
                      label(for="title" class="formTitle") Title
                    span.formInfo Be specific and imagine you’re asking a question to another person
                    div
                      input(type="text" id="title-text" name="title" placeholder="e.g. Is it possible to adopt all the dogs at the shelter?")
                    br
                    div
                      label(for="content" class="formTitle") Body
                    span.formInfo  Include all the information someone would need to answer your question
                    br
                    div
                      textarea(id="content" name="content" class="contentText")
                    br
                    div
                      label(for="tags" class="formTitle") Tags
                    div
                      input(type="text" id="tags" name="tags")
                    br
                    div
                      button(type='submit' id="question" class="button") Ask Question
                div.formBtns
                    form(action=`/questions` method="get")
                        input(type="submit" id="backBtn" value="Back To Questions")
                    form(action=`/` method="get")
                      input(type="submit" id="homeBtn" value="Go Home")