extends nav-bar.pug

include utils.pug

block content
  div.modalContent
    h2#login-form-h2 Welcome to Pet Overflow
    div.modalLogin
        +validationErrorSummary(errors)
        form(action='/users/login' method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            div
                label(for = "email" class='email') Email
            div
                input(type = "text", name = "email")
            br
            div
                label(for = "password" class='password') Password
            div
                input(type = "password", name = "password")
            br
            div()
                button(type='submit' class='login_button') Login
            br
                //- a(href='/' class='cancel-button') Cancel
        form(action=`/` method="get")
            input(type="submit" value="Cancel" class='cancel-button')

        div
            p Don't have an account? <a href='/users/register' class='what'>Sign Up</a>!
