extends layout.pug

//- include utils.pug

block content
  form(action='/users/login' method='post')
    label(for = "email") Email
    input(type = "text", name = "email")
    label(for = "password") Password
    input(type = "password", name = "password")
    div(class='button')
      button(type='submit' class='login_button') Login
      a(href='/' class='cancel-button') Cancel
  div
    p: a(href='/users/register') Don't have an account?
