
h2 {
  justify-content: center;
}
.page-container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
}

#logo {
  justify-content: flex-start;
}

.navbar_text_buttons {
  align-content: flex-end;
}

.mid-panel {
  display: flex;
  background-color: #ddecf0;
  width: 40%;
  height: auto;
  justify-content: center;
}
.question-preview-box {
  display: flex;
  border: 5px solid grey;
  height: 100px;
  width: 100%;
}
