.body{

}
.page-container {
    display: flex;
    width: 100%;
    height: auto;
}
.nav_bar{
display: flex;
flex-direction: row;
height: 100px;
width: 100%;
}

#logo {
    justify-content: flex-start;
}

.navbar_text_buttons{
    align-content: flex-end;
}

.mid-panel {
    display: flex;
    background-color: aqua;
    width: 40%;
    height: auto;

}
.question-preview-box {

}