#title {
    font-size:20px;
}

.answer-vote-button, .answer-down-button {
    height: 30px;
    width: 30px;
    border: none;
}

.votesBtn {
    height: 30px;
    width: 30px;
    border: none;
}

#votes {
    color: #686262;
}

.questionContent {
    color: black;
}

.answerList{
    list-style-type: none;
}

.questionTitle {
    color: #54A8E5;
}
.button {
    background-color: #50A1DB;
}
.modal {
    display: none;
    position: fixed;
    /* margin: 0 auto; */
    top: 15;
    left: 15;
}

.modalContent {

    background-color: #70D5EC;
    color: #3A444A;
    font-size: 20px;
    /* font-family: Roboto Light; */
    /* margin: 0 auto; */
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    padding: 15px;
    padding-left: 20px;
    text-align: center;
    border-radius: 15%;
    overflow: auto;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
    /* add box shadow */
}

.modalForm{
    background-color: white;
    text-align: left;
    border-radius: 15%;
    padding: 35px;
    width: 80%;
    height: 60%;
}