#title {
    font-size:20px;
}

.answer-vote-button, .answer-down-button {
    height: 30px;
    width: 30px;
    border: none;
}

.votesBtn {
    height: 30px;
    width: 30px;
    border: none;
}

#votes {
    color: #686262;
}

.questionContent {
    color: black;
}

.answerList{
    list-style-type: none;
}

.questionTitle {
    color: #54A8E5;
}

.modal {
    display: none;
}
/* this is a test */
