div {
  box-sizing: border-box;
}

#mid-panel-top h2 {
  padding-left: 10px;
}
.page-container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}

/* #temp-nav {
  background-color: indigo;
  height: 70px;
  width: 100%;
} */

#content-container {
  display: flex;
  width: 100%;
  height: 100%;
}

#left-panel {
  display: flex;
  background-color: hotpink;
  width: 25%;
  height: 100%;
  justify-content: flex-start;
}

#mid-panel {
  display: flex;
  background-color: #ddecf0;
  width: 600px;
  height: auto;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#right-panel {
  background-color: green;
  width: 25%;
  height: 100%;
}

#mid-panel-top {
  background-color: #e5e5e5;
  height: 60px;
  width: 100%;
}
#mid-panel-main {
  background-color: darkblue;
  height: 100%;
  width: 100%;
}
.stats-panel {
  background-color: white;
  display: flex;
  width: 250px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.question-preview-panel {
  background-color: yellow;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.date-panel {
  padding-top: 30px;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
}

#logo {
  justify-content: flex-start;
}

.navbar_text_buttons {
  align-content: flex-end;
}

.question-box {
  display: flex;
  border-bottom: 3px solid grey;
  border-left: 3px solid grey;
  border-right: 3px solid grey;
  height: 100px;
  width: 100%;
}
