.answer-box {
  display: flex;
  border-bottom: 2px solid grey;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  height: 100px;
  width: 100%;
  background-color: yellow;
}

#post-answer-on-question {
  display: flex;
  flex-direction: flex-end;
  background-color: indigo;
}

span questionContent {
  background-color: orchid;
}