
#logo {
  justify-content: flex-start;
}

.navbar_text_buttons {
  align-content: flex-end;
  padding-right: 5%;
}
body {
  font-family: "Red Hat Display";
}
div {
  box-sizing: border-box;
}
.page-container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}

#mid-panel-top {
  background-color: #e5e5e5;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100px;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
}

#mid-panel-top h2 {
  display: flex;
  margin-left: 15px;
  margin-top: 40px;
  padding-right: 15px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 32px;
  color: #3a444a;
}
#mid-panel-top .button {
  display: flex;
  margin: 30px;
  background: #50a1db;
  border: 1px solid #adadad;
  box-sizing: border-box;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25), inset 0px 4px 4px #e5e5e5;
  border-radius: 6px;
}

.content-container {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 100%;
}

#left-panel {
  display: flex;
  justify-content: flex-start;
  background-color: #ddecf0;
  width: 200px;
  height: auto;
}
.left-panel-links {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-top: 40px;
  align-items: center;
}

.left-panel-links a {
  padding-top: 10%;
  color: #3a444a;
  text-decoration: none;
}
.left-panel-links a:hover {
  color: #50a1db;
}

#mid-panel {
  display: flex;
  width: 600px;
  height: auto;
  justify-content: flex-start;
  flex-direction: column;
}

#right-panel {
  background-color: green;
  width: 100px;
  height: 100%;
}

#mid-panel-main {
  height: 100%;
  width: 100%;
}
.question-box {
  display: flex;
  border-bottom: 2px solid grey;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  height: 100px;
  width: 100%;
}

.stats-panel {
  background-color: white;
  display: flex;
  width: 250px;
  height: 100%;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}
#vote-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 25px;
}
#vote-panel > form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#votes {
  display: flex;
  font-size: 11pt;
}
.view-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 5%;
}

.question-preview-panel {
  background-color: white;
  display: flex;
  padding-left: 15px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-left: 2px solid grey;
}

.question-preview-panel:hover > a {
  padding-top: 0;
}
.question-preview-panel a {
  display: flex;
  padding-top: 20px;
  color: #3a444a;
}
.question-preview-panel a:hover {
  display: flex;
  color: #50a1db;
}

#date-panel {
  display: flex;
  align-items: flex-end;
  padding-top: 40px;
  font-size: 9pt;
  height: 20px;
  background-color: white;
  color: #adadad;
}

#edit-delete {
  display: none;
  width: 100%;
  height: 20px;
}

.question-preview-panel:hover > #edit-delete {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

#delete-q {
  display: flex;
}
#edit-q {
  display: flex;
}
.edit-q:hover {
  background-color: lightgreen;
}
.delete-q:hover {
  background-color: crimson;
}

.hidden-info {
  display: none;
}

.edit-modal {
  display: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

#questionContent {
  display: flex;
  border-bottom: 2px solid grey;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  height: 100px;
  width: 100%;
  min-height: fit-content;
  min-width: fit-content;
  background-color: #ddecf0;
}

#question-vote-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ddecf0;
}
#questionBody {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right:17px;
  box-sizing: content-box;
  margin: 0 25px;
  font-size: 1.2em;
}

#questionContent > .question-stats-panel {
  background-color:#ddecf0;

}

#post-answer-on-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid grey;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
}

#post-answer-on-question > form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  width: 100%;
  height: 100%;
  font-size: 14pt;
  background-color: #e5e5e5;
}

#post-answer-on-question #content {
  min-width: 80%;
  min-height: 200px;
  max-width: 80%;
  max-height: 150px;
  resize: none;
  font-size: 12pt;
}

#post-answer-on-question .button {
  margin: 10px 0;
}

.answer-box {
  display: flex;
  border-bottom: 2px solid grey;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  height: 100px;
  width: 100%;
  background-color: white;
}

.question-stats-panel {
  background-color:white;
  display: flex;
  width: 250px;
  height: 100%;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.answer-preview-panel {
  display: flex;
  padding-left: 15px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-left: 2px solid grey;
}
.question-content-preview-panel {
  display: flex;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 3px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-left: 2px solid grey;
  overflow: hidden;
}
#questionBody {
padding-right: 15px;
}
#answerContent {
  width: 95%;
  overflow: hidden;
}